body{
    background-color: #000000;
}
#content{
    display: table;
    margin: 0 auto;
    margin-top:50px;
}
.row{
    display: table-row;
}
.tile{
    width:25px;
    height:25px;
    background-color:gray;
    border: 1px solid black;
    display: table-cell;
}
.tile.snake{
    background-color: brown;
}
.tile.pellet{
    background-color: green;
}